# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?




import React from "react";
import { Route, Routes } from "react-router-dom";
import { Navbar, Nav } from "react-bootstrap";
import { NavLink } from "react-router-dom";
import "bootstrap/dist/css/bootstrap.min.css";

// Example components for routes
const Home = () => <div>Home Page</div>;
const Search = () => <div>Search Page</div>;
const Subscriptions = () => <div>Subscriptions Page</div>;
const Profile = () => <div>Profile Page</div>;
const Create = () => <div>Create Page</div>;

export default function App() {
  return (
    <div>
      {/* Desktop Navbar */}
      <Navbar bg="dark" variant="dark" expand="lg" className="d-none d-lg-flex">
        <Navbar.Brand href="#">Urlaubsplaner</Navbar.Brand>
        <Navbar.Toggle aria-controls="navbarSupportedContent" />
        <Navbar.Collapse id="navbarSupportedContent">
          <Nav className="mr-auto">
            <NavLink className="nav-link" to="/" end title="Go to Home">
              Home
            </NavLink>
            <NavLink className="nav-link" to="/search" title="Search for content">
              Search
            </NavLink>
            <NavLink
              className="nav-link"
              to="/subscriptions"
              title="View Subscriptions"
            >
              Subscriptions
            </NavLink>
            <NavLink className="nav-link" to="/profile" title="Go to Profile">
              Profile
            </NavLink>
            <NavLink className="nav-link" to="/create" title="Create a new item">
              Create
            </NavLink>
          </Nav>
        </Navbar.Collapse>
      </Navbar>

      {/* Mobile Navbar - Centered Layout with SVG Icons */}
      <Navbar
        bg="dark"
        variant="dark"
        fixed="bottom"
        className="d-flex d-lg-none justify-content-center"
      >
        <Nav className="w-100 d-flex justify-content-between">
          {/* Home Link */}
          <NavLink
            className="nav-link"
            to="/"
            end
            title="Go to Home"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              className="bi bi-house-door"
              viewBox="0 0 16 16"
              aria-hidden="true"
            >
              <path d="M8 3.293l5 5V13H3V8.293l5-5zM7 1h2v4H7V1z" />
            </svg>
          </NavLink>

          {/* Search Link */}
          <NavLink
            className="nav-link"
            to="/search"
            title="Search for content"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              className="bi bi-search"
              viewBox="0 0 16 16"
              aria-hidden="true"
            >
              <path d="M11.742 10.742a6.5 6.5 0 1 0-1.415 1.415l3.44 3.44a1 1 0 1 0 1.415-1.415l-3.44-3.44zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>
          </NavLink>

          {/* Subscriptions Link */}
          <NavLink
            className="nav-link"
            to="/subscriptions"
            title="View Subscriptions"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              className="bi bi-tv"
              viewBox="0 0 16 16"
              aria-hidden="true"
            >
              <path d="M3 0a1 1 0 0 0-1 1v9H0v6h16v-6h-2V1a1 1 0 0 0-1-1H3zM0 9h2v5H0v-5zm14 5h-2V9h2v5z" />
            </svg>
          </NavLink>

          {/* Profile Link */}
          <NavLink
            className="nav-link"
            to="/profile"
            title="Go to Profile"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              className="bi bi-person-circle"
              viewBox="0 0 16 16"
              aria-hidden="true"
            >
              <path d="M12 7a4 4 0 1 1-8 0 4 4 0 0 1 8 0zM0 8a8 8 0 1 1 16 0 8 8 0 0 1-16 0z" />
            </svg>
          </NavLink>

          {/* Create Link */}
          <NavLink
            className="nav-link"
            to="/create"
            title="Create a new item"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              className="bi bi-plus-circle"
              viewBox="0 0 16 16"
              aria-hidden="true"
            >
              <path d="M8 3a1 1 0 0 1 1 1v3h3a1 1 0 0 1 0 2H9v3a1 1 0 0 1-2 0V9H4a1 1 0 0 1 0-2h3V4a1 1 0 0 1 1-1z" />
            </svg>
          </NavLink>
        </Nav>
      </Navbar>

      {/* Route Components using Routes */}
      <Routes>
        <Route path="/" element={<Home />} />
        <Route path="/search" element={<Search />} />
        <Route path="/subscriptions" element={<Subscriptions />} />
        <Route path="/profile" element={<Profile />} />
        <Route path="/create" element={<Create />} />
      </Routes>
    </div>
  );
}
