.hero-header {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5),
            /* Dark overlay with transparency */
            rgba(0, 0, 0, 0.5)),
        url('/urlaubs-planer/img/header-bg.jpeg');
    /* Replace with your image */
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 0;
    /* Adjust padding for height */
    /* Apply filters */
}

.hero-header::backdrop {
    filter: brightness(1.2) contrast(2);
}

.hero-header h1 {
    font-size: 3rem;
    /* Bigger title */
    z-index: 1;
    /* Ensure the title is on top */
}

.hero-header p {
    font-size: 1.25rem;
    /* Larger description */
    z-index: 1;
    /* Ensure the description is on top */
}